version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    container_name: ppt-shorts-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: dev
    container_name: ppt-shorts-backend
    ports:
      - "3001:3001"
    env_file:
      - ./.env
    volumes:
      - ./backend:/app
      - /app/node_modules
